{% extends '_templates/base.njk' %}

{% block content %}{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}
<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-6 offset-lg-3 offset-md-4">
          <h1>A PIRATE'S LIFE FOR ME</h1>
            <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>
      
      <h3>BLOG POSTS</h3>
        <div class="row">
        {% for blogs in blog.blogs %}
       <div class="col-sm-6 col-lg-4">
          <div class="card text-white bg-dark mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ blogs.headline }}</h5>
              <p class="card-text">{{ blogs.date }}</p>
              <a href="../src/html/{{ blogs.slug }}.html " >Article</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
  </div>
</div>
{% endblock %}